<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?define UpgradeCode = "{C64BF0BE-4AB6-48DA-ACC2-23FFF4C5A77A}"?>
	
	<Product Id="*"
			 Name="!(loc.ProductName)" 
			 Language="!(loc.Language)"
			 Version="$(var.BuildVersion)" 
			 Manufacturer="athulrajts" 
			 UpgradeCode="$(var.UpgradeCode)">
		
		<Package InstallerVersion="200"
				 Compressed="yes"
				 InstallScope="perMachine"
				 Platform="x64"
				 Manufacturer="athulrajts"
				 Description="!(loc.Description)"
				 Keywords="!(loc.Keywords)"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		
		<MediaTemplate EmbedCab="yes"/>

		<Icon Id="Icon.ico"
			  SourceFile="$(var.Totoro.WinUI.ProjectDir)\Assets\WindowIcon.ico"/>

		<Property Id="ARPPRODUCTICON">Icon.ico</Property>

		<CustomAction Id="EXECUTE_AFTER_FINALIZE"
              Execute="immediate"
              Impersonate="no"
              Return="asyncNoWait"
			  Directory="INSTALLFOLDER"
		      ExeCommand="[INSTALLFOLDER]Totoro.WinUI.exe"/>

		<InstallExecuteSequence>
			<Custom Action="EXECUTE_AFTER_FINALIZE" After="InstallFinalize">NOT Installed</Custom>
		</InstallExecuteSequence>

		<!--<UIRef Id="WixUI_Minimal"/>-->
		
		<Feature Id="ProductFeature" Title="AnimDL" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="PublishedComponents" />
		</Feature>
	</Product>
</Wix>
